.bar-wrapper, .wrapper-doughnut {
   // height: 500px;
    //width: 500px;
}

.btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
    appearance: none;
}

input[type=radio] {
    appearance: none;
}