.statistics-container {
  padding: 0 8%;

  @media (max-width: 768px) {
    .row:nth-child(2) .col {
      flex: auto;
    }
  }
}

.charts-wrapper {
  padding: 0;
}

.btn {
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  appearance: none;
}

main {
  transition: all 0.4s;
  .row {
    justify-content: center;
  }
}

input[type='radio'] {
  appearance: none;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  color: var(--light);
  font-size: 0.9rem;
}

.statistic-text {
  color: var(--light);

  span {
    font-size: 1rem;
  }
  .info {
    &_expenses {
      color: var(--expenses);
      font-size: 1.2rem;
    }

    &_income {
      color: var(--income);
      font-size: 1.2rem;
    }

    &_accounts {
      color: var(--accounts);
      font-size: 1.2rem;
    }
  }
}

.statistic-h {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--font-light);
}

.text-statistic-wrapper {
  justify-content: center;
}

.statistic-container {
  padding: 1.3rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: var(--catergory-bg);
  box-shadow: var(--shadow);
}

.wrapper-doughnut,
.bar-wrapper {
  margin: 1rem;
  border-radius: 8px;
  background-color: var(--catergory-bg);
  box-shadow: var(--shadow);
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .heading {
    font-size: calc(0.7rem + 0.6vw);
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--gray);
  }

  .toggle {
    transform: scale(0.9);
    margin: 0;
    margin-top: 1rem;

    span {
      opacity: 0.5;
      padding: 0 0.8rem;
    }
  }
}

.bar-container {
  margin-bottom: 3rem;
}

.doughnut-container {
  margin-bottom: 2rem;
}

.bar-wrapper {
  .btns-year-container {
    display: flex;
    margin-top: -16px;
  }

  .btns-year-container ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul li {
    color: #aaaaaa;
    display: block;
    position: relative;
  }

  ul li input[type='radio'] {
    position: absolute;
    visibility: hidden;
  }

  ul li label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0px 1.7rem 0px 1rem;
    margin: 1rem 1rem;
    z-index: 9;
    cursor: pointer;
  }

  ul li .check {
    display: block;
    position: absolute;
    border: 3px solid #aaaaaa;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    top: 2px;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    cursor: pointer;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 1.5px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
  }

  input[type='radio']:checked ~ .check {
    border: 3px solid #ecaf12;
  }

  input[type='radio']:checked ~ label {
    color: var(--gray);
  }
}

@media (max-width: 768px) {
  .wrapper-doughnut,
  .bar-wrapper {
    .heading {
      padding-bottom: 1rem;
    }
  }
  .doughnut-container {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .transactions-container .row {
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .wrapper-doughnut,
  .bar-wrapper {
    padding: 1rem 1.2rem;
    .toggle {
      transform: scale(0.7);
      margin: 0;
      margin-top: 0.5rem;
      padding: 0;
    }
    .heading {
      padding-bottom: 1.5rem;
    }
  }

  .btns-year-container {
    transform: scale(0.7);
  }

  .bar-container {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 500px) {
  .doughnut-container {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }

  .bar-container {
    padding: 0.5rem;
  }

  .wrapper-doughnut,
  .bar-wrapper {
    padding: 0.5rem 0rem;
    align-items: center;

    .toggle {
      transform: scale(0.5);
      margin: 0;
      margin-top: -0.4rem;
      margin-bottom: 0.5rem !important;
    }
    .heading {
      padding-top: 0.5rem 0 0 0;
      font-size: 0.6rem;
    }
  }

  .bar-wrapper {
    padding: 0px 0rem 0px 1rem;
  }

  .btns-year-container {
    transform: scale(0.5);
  }

  .statistic-text {
    font-size: 0.8rem;

    span:last-child {
      font-size: 1rem;
    }
  }
}

@media (max-width: 400px) {
  .doughnut-container {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
  }

  .wrapper-doughnut,
  .bar-wrapper {
    padding: 0.6rem;

    .toggle {
      transform: scale(0.4);
      margin: 0;
      margin-top: -0.4rem;
      align-items: center;
    }

    .heading {
      padding: 0 !important;
      font-size: 0.5rem;
    }
  }

  .statistic-container {
    padding: 1rem 0.8rem;
    margin: 0.6rem 0.5rem;
  }

  .statistic-text span:last-child {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .bar-container {
    margin-bottom: 0.2rem;
    padding: 0.25rem;
  }
}
