::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--catergory-bg);
    border-radius: 20px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
    appearance: none;
}

input[type=radio] {
    appearance: none;
}

thead, tbody, tfoot, tr, td, th {
    color: var(--light);
    font-size: 0.9rem;
}

.table {
    background-color: var(--catergory-bg);

    &-wrapper{
        max-height: 85vh;
        overflow: auto;
    }

    & > :not(caption){
        border-bottom: 1px solid #383838;
    }

    .cell {
        &__date{
           opacity: 0.6;
        }
        &__category-income{
            background-color: var(--income-alpha);
        }
        &__category-expense{
            background-color: var(--expenses-alpha);
        }
        &__account{
            opacity: 0.6;
        }
        &__description{
            opacity: 0.6;
            font-style: italic;
        }
    }
}

.bar-container{
    margin-bottom: 1rem;
}

.statistic-text {
    color: var(--light);
    font-size: 1rem;

    span {
        font-size:1.5rem;
    }
    .info {
        &_expenses{
            color: var(--expenses);
        }
    
        &_income{
            color: var(--income);
        }
    
        &_accounts{
            color: var(--accounts);
        }
    }
}

