@keyframes delete {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(2px);
  }

  40% {
    transform: translateY(-2px);
  }

  60% {
    transform: translateY(2px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }

  33% {
    transform: translateY(3px);
  }

  66% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}
.invisible {
  display: none;
}

.dragging {
  transform: translate(0, 0);

  span {
    opacity: 0;
  }
}

.hovered {
  .category-icon {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  .icon-svg {
    transition: all ease-in 0.15s;
    background-position-y: 50px !important;
  }
}
