.day-of-week {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--light);
}

.date {
  font-size: 1.25rem;
  color: var(--light);
}

.day {
  padding: 1rem;
  margin-bottom: 1.8rem;
  border-radius: 8px;
  background-color: var(--catergory-bg);
  box-shadow: var(--shadow);

  p {
    margin: 0;
  }

  .row::after {
    content: '';
    width: calc(100% - 1rem);
    height: 1px;
    margin: 0.5rem auto;
    background: var(--gray);
  }

  .row:last-child::after {
    display: none;
  }

  .col:last-child {
    text-align: right;
  }

  .account-name {
    font-size: 0.9rem;
    color: var(--gray);
  }

  .category-name {
    font-size: 1.1rem;
    color: var(--light);
  }

  .money-amount {
    font-size: 1.8rem;
  }

  .money-amount.expenses {
    color: var(--expenses);
  }

  .money-amount.income {
    color: var(--income);
  }

  .description {
    padding-left: 10%;
    font-size: 0.875rem;
    font-style: italic;
    color: var(--gray);
  }
}
