.login__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;

  .login__content {
    display: flex;
    height: 29.5rem;
    width: 45.5rem;
    background: #1d212f;
    border-radius: 15px;
    overflow: hidden;

    @media (max-width: 400px) {
      h2,
      h3 {
        font-size: 1.1rem !important;
      }
    }

    .side {
      @include flex-col;
      justify-content: center;
      align-items: center;
      padding: 0rem 0rem 2rem;
    }

    .gif {
      &-coin {
        width: 7.5rem;

        @media (max-width: 400px) {
          & {
            width: 6.5rem;
          }
        }

        img {
          margin-top: 0.5rem;
        }
      }

      &-wallet {
        width: 9rem;
        margin-top: -0.8rem;
        margin-bottom: 0.8rem;

        @media (max-width: 400px) {
          & {
            width: 7rem;
          }
        }
      }
    }

    .left {
      width: 35%;
      z-index: 10;
      padding: 3rem 1rem;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background: #327ceb;
      overflow: hidden;

      @media (max-width: 400px) {
        & {
          padding: 0.5rem;
        }
      }

      h2,
      p {
        text-align: center;
        color: var(--light);
      }

      p {
        margin-bottom: 1rem;
        font-size: 14px;
      }
    }

    .right {
      width: 65%;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background: #1d212f;

      .img-wrapper {
        display: flex;

        img {
          width: 100%;
        }
      }

      .form__header {
        margin-bottom: 0;
        text-align: center;
        color: #ececec;
      }

      .form__subtitle {
        margin-bottom: 2rem;
        text-align: center;
        color: #848484;
      }

      .form__body {
        align-self: stretch;
        @include flex-col;
        align-items: center;
        row-gap: 0.8rem;

        .form-group {
          position: relative;
          width: 60%;

          @media (max-width: 400px) {
            & {
              width: 85%;
            }
          }

          &.two-col {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 0.8rem;
            border: 1px solid #ced4da;
            background: white;

            #currency-list {
              display: inline-block;
              padding: 0.2rem 0.2rem 0.2rem 2.2rem;
              color: rgba(92, 92, 92, 0.6);
              background: #fff;

              @media (max-width: 400px) {
                & {
                  font-size: 0.9rem;
                }
              }
            }

            @media (max-width: 400px) {
              .select__input {
                font-size: 1rem;
              }
            }

            .select.open .select__dropdown {
              height: 5.5rem;
            }

            .select__value {
              font-weight: 500;
              color: var(--gray);
            }

            svg {
              color: #000000;
              opacity: 1;
            }
          }

          svg:not(.bi-chevron-down) {
            position: absolute;
            top: 50%;
            left: 0.8rem;
            color: var(--gray);
            transform: translateY(-50%);
            opacity: 0.5;
            pointer-events: none;
          }

          input::placeholder {
            color: var(--gray);
            opacity: 0.6;

            @media (max-width: 400px) {
              & {
                font-size: 0.9rem;
              }
            }
          }
          

          input {
            padding: 0.2rem 0.2rem 0.2rem 2.2rem;
            border-radius: 0;
          }
        }
      }
    }

    .btn {
      width: 7.75rem;
      height: 2.125rem;
      margin-top: 1rem;
      border: 2px solid #327ceb;
      border-radius: 1.2em;
      color: #327ceb;
      text-transform: uppercase;
      outline: none;

      @media (max-width: 400px) {
        & {
          width: 6rem;
        }
      }

      &.btn-yellow {
        color: #dcac00;
        border: 2px solid #dcac00;
      }

      &:hover {
        color: var(--dark);
        background: #327ceb;
        cursor: pointer;
      }

      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }

      &.btn-yellow:hover {
        background: #dcac00;
      }

      &[data-action] {
        border: 2px solid var(--light);
        color: var(--light);

        &:hover {
          color: var(--dark);
          background: var(--light);
        }
      }
    }

    #move {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-text {
        position: absolute;
      }
    }
  }
}

@keyframes goRight {
  0% {
    width: 35%;
    transform: translateX(0);
  }

  20% {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  50% {
    width: 55%;
  }

  60% {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  100% {
    width: 35%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #dcac00;
    transform: translateX(186%);
  }
}

@keyframes goLeft {
  0% {
    transform: translateX(0);
  }

  20% {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  100% {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: translateX(-54%);
  }
}

@keyframes goLeftBack {
  0% {
    width: 35%;
    transform: translateX(186%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  30% {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  50% {
    width: 55%;
  }

  60% {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  100% {
    width: 35%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #327ceb;
    transform: translateX(0);
  }
}

@keyframes goRightBack {
  0% {
    transform: translateX(-54%);
  }

  20% {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  100% {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateX(0);
  }
}

@keyframes fadeOutFromLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutFromRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes stretchBtn {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.6);
  }

  100% {
    transform: scaleX(1);
  }
}
