.login__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;

  .login__content {
    display: flex;
    background: #1d212f;
    border-radius: 15px;
    height: 50vh;

    .side {
      @include flex-col;
      transition: transform 0.5s easy;
      justify-content: center;
      align-items: center;
      padding: 0rem 0rem 2rem;
    }

    .border{

      &-right {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &-left {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

    }

    .gif {
      &-coin {
      width: 7.5rem;

      img {
        margin-top: 0.5rem;
      }
    }

    &-wallet {
      width: 9rem;
      margin-top: -1rem;
    }
  }

    .left {
      width: 35%;
      z-index: 10;
      padding: 3rem 1rem;;
      background: var(--expenses);

      &.yellow {
        background: #dcac00;
      }

      h2,
      p {
        text-align: center;
        color: var(--light);
      }

      p {
        margin-bottom: 1rem;
        font-size: 14px;
      }
    }

    .right {
      width: 65%;
      background: #1d212f;

      .img-wrapper {
        display: flex;
        img {
          width: 100%;
        }
      }

      .form__header {
        margin-bottom: 0;
        text-align: center;
        color: var(--light);
      }

      .form__subtitle {
        margin-bottom: 2rem;
        text-align: center;
        color: #848484;
      }

      .form__body {
        align-self: stretch;
        @include flex-col;
        align-items: center;
        row-gap: 0.8rem;

        .form-group {
          position: relative;
          width: 60%;

          &.two-col {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          svg {
            position: absolute;
            top: 50%;
            left: 0.8rem;
            color: var(--gray);
            transform: translateY(-50%);
            opacity: 0.5;
            pointer-events: none;
          }

          input::placeholder {
            padding-left: 1.3rem;
            color: var(--gray);
            opacity: 0.6;
          }

          input {
            padding: 0.2rem 0rem 0.2rem 2.2rem;
            border-radius: 0;
          }

          .form-file {
            display: block;
            padding: 0.2rem 0.75rem;
            background: #fff;
            cursor: pointer;

            span {
              color: var(--gray);
              opacity: 0.6;
            }
          }

          .file-input {
            width: 0;
            height: 0;
            visibility: hidden;
          }

          label > img {
            opacity: 0.5;
          }
        }
      }
    }

    .btn {
      margin-top: 1rem;
      padding: 0.3em 2.2em;
      color: var(--expenses);
      text-transform: uppercase;
      border: 2px solid var(--expenses);
      border-radius: 1.2em;
      outline: none;
      transition: all 0.3s;

      &.btn-yellow {
        color: #dcac00;
        border: 2px solid #dcac00;
      }

      &:hover {
        color: var(--dark);
        background: var(--expenses);
        cursor: pointer;
      }

      &:active, &:focus {
        outline: none;
        box-shadow: none;
      }

      &.btn-yellow:hover {
        background: #dcac00;
      }

      &[data-action] {
        border: 2px solid var(--light);
        color: var(--light);

        &:hover {
          color: var(--dark);
          background: var(--light);
        }
      }
    }
  }
}

@keyframes goRight {
  0% {
   width: 40%;
    transform: translateX(0);
  }

  50% {
    //transform: scaleX(1.1);
    width: 65%;
  }

  100% {
    width: 45%;
    transform: translateX(150%);
    background-color: #dcac00;
  }
}

@keyframes goLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-67%);
  }
}

@keyframes stretchBtn {
  0% {
   transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.4);
  }

  100% {
    transform: scaleX(1);
  }
}