.modal-content.expenses {
  background: var(--expenses);

  input,
  select,
  textarea,
  textarea:focus {
    background: var(--expenses);
  }
}

.modal-content.income {
  background: var(--income);

  input,
  select,
  textarea,
  textarea:focus {
    background: var(--income);
  }
}

.modal-content.accounts {
  background: var(--accounts);

  input,
  select,
  textarea,
  textarea:focus {
    background: var(--accounts);
  }

  .modal-body {
    padding: 0;

    &__title {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  .btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 7%;
  }

  .content {
    row-gap: 0.5rem;

    .title {
      margin-bottom: -2px;
    }

    .modal-body__amount {
      text-align: center;
    }

    .new-category__icons {
      width: 81%;
      margin-bottom: 1rem;
    }
    .new-account_currency {
      color: white;
      margin: -0.5rem 0 1rem;
    }
  }
}

.modal-content {
  transition: all 1s;
  border-radius: 1rem;
  line-height: 1;

  .form-floating {
    padding-top: 0.25rem;
  }
}

.modal-dialog {
  transition: all 0.4s;
}

.modal-content.expenses-btn {
  transition: all 0.3s;
  background: var(--expenses);
}

.modal-content.income-btn {
  transition: all 0.3s;
  background: var(--income);
}

.modal-header {
  color: var(--dark);
  padding: 1rem 1rem 0 0;
  border: 0;
}

.modal-body {
  transition: all 0.4s;
  padding: 0 2rem;
  color: var(--dark);

  input,
  textarea {
    border: none;
    outline: none;
  }

  textarea {
    resize: none;
    color: var(--dark);

    &:focus {
      padding-left: 0;
    }
  }

  .textarea-label {
    padding-left: 0;
    font-style: italic;
    color: var(--light);
  }

  .form-control {
    font-style: italic;
    color: var(--font-light);
    overflow: hidden;

    &:not(:placeholder-shown) {
      padding-left: 0;
    }
    &:focus {
      box-shadow: none;
    }
  }

  input[type='date'] {
    position: relative;
    overflow: visible;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    right: -8px;
    top: 50%;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  [data-from],
  [data-to] {
    margin-right: 0.5rem;
    color: var(--font-light);
    opacity: 0.5;
  }

  [data-to] {
    margin-right: 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--font-dark);
  }

  &__amount {
    height: 4rem;
    font-size: 4rem;
    width: 95%;
    color: var(--font-light) !important;
    outline: none;
    padding: 0;
    margin-bottom: 1rem;

    &:hover {
      cursor: auto;
    }
    &::placeholder {
      color: white;
      font-size: 4rem;
    }
  }

  .select__input {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    column-gap: 0.4rem;
    height: 35px;

    .currency-list {
      padding: 0;
      margin: 0;
      height: 5px;

      .select__value {
        font-size: 1.2rem;
        font-weight: 400;
        color: white;
      }
    }
  }

  &__category-name {
    text-transform: lowercase;
    font-size: 1.2rem;
  }

  .btn {
    margin-bottom: 2rem;
    font-weight: 500;
    background: white;
    text-transform: uppercase;
    outline: none;
  }

  .new-category {
    @include flex-col;
    row-gap: 2rem;
    align-items: center;
    padding-bottom: 1.5rem;

    .title {
      color: var(--light);
      font-style: italic;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: -24px;
    }

    &__name {
      text-align: center;
      font-size: 2rem;
      color: var(--light);
      text-transform: uppercase;
      border-bottom: 1px dashed var(--light);
      padding-bottom: 0;
    }

    &__icons {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      row-gap: 1.2rem;
      column-gap: 1.5rem;

      label {
        height: 38px;
        width: 38px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          filter: invert(1);
          cursor: pointer;
        }

        input[name='icon'] {
          opacity: 0;
        }
      }
    }

    .btn {
      margin-bottom: 0;
    }

    .selected {
      border: 1px dashed var(--light);
      border-radius: 3px;
    }
  }
}

.btn-close {
  opacity: 0.25;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-light:focus {
  box-shadow: none;
}
