$scale: 46px;

.settings-container p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--settings-h);
}

.toggle {
  display: flex;
  margin: 1rem 0;

  span {
    padding-left: 0.8rem;
    color: var(--gray);
    font-size: 0.9rem;
  }

  .checkbox {
    opacity: 0;
    position: absolute;

    &:checked + label[for='sound'] {
      background: var(--toggle-bg);
      box-shadow: var(--toggle-shadow);
    }
  }

  .label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $scale;
    height: $scale/2 - 2px;
    padding: 2px;
    border-radius: $scale/4;
    background: var(--toggle-bg);
    box-shadow: var(--toggle-shadow);
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    svg {
      // width: $scale/2 - 6px;
      // height: $scale/2 - 6px;
      width: 17px;
      height: 17px;
      color: var(--font-dark);
      transition: all 0.4s ease-in-out;
    }

    .bi-brightness-high {
      padding-left: 0.2rem;
    }

    .bi-moon {
      fill: none;
      stroke: var(--font-dark);
      stroke-width: 1.5;
      padding-right: 0.2rem;
    }
  }

  .ball {
    position: absolute;
    width: $scale/2 - 6px;
    height: $scale/2 - 6px;
    border-radius: 50%;
    background: var(--dark);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

.lang:last-child {
  padding-left: 0.5rem 0 !important;
}

.select {
  position: relative;
  display: inline-block;
  // width: $scale; // ИЗМЕНИТЬ!!!!

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__backdrop {
      display: block;
      z-index: 9;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: transparent;
  }

  &__input {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: $scale/2 - 5px;
    border-radius: 5px;
    cursor: pointer;

    svg {
      transition: transform 0.15s ease-in;
      opacity: 0.4;
      color: white;
      transform: scale(0.8);
      margin-left: -0.5rem;
    }

    .select__value {
      color: var(--font-dark);
      opacity: 1;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $scale/2;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 14rem;
    border-radius: 5px;
    background: var(--light);
    overflow-y: auto;
    overflow-x: hidden;
    width: fit-content;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0.4rem;
    border-bottom: 1px solid #b3b3b3;
    background: #eaf0f7;
    color: black;

    &:hover {
      background-color: var(--gray);
      cursor: pointer;
      transition: background-color 0.15s ease-in;
    }

    &.selected {
      color: var(--dark);
      background-color: var(--accounts);
    }
  }

  .select__language {
    height: 21px;
    width: 46px;
    border-radius: 23px;
    background-color: var(--toggle-bg);
    box-shadow: var(--toggle-shadow);
  }
}

.info-link {
  padding-right: 1rem;

  .bi-info-circle {
    width: 1.4rem;
    height: 1.4rem;
    color: var(--gray);
  }

  &:hover {
    cursor: pointer;

    svg {
      color: var(--light);
    }
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 0.75s !important;
  transition-delay: 0 !important;
}
