$scale: 52px;

.settings-container p {
  font-size: 1.25rem;
  color: var(--gray);
}

.toggle {
  display: flex;
  margin: 1rem 0;

  span {
    padding-left: 0.8rem;
    color: var(--light);
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $scale;
    height: $scale/2 - 2px;
    padding: 2px;
    border-radius: $scale/4;
    background: var(--gray);
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    svg {
      width: $scale/2 - 6px;
      height: $scale/2 - 6px;
      color: var(--light);
      transition: all 0.4s ease-in-out;
    }

    svg:last-child {
      padding-bottom: 4px;
    }
  }

  .ball {
    position: absolute;
    width: $scale/2 - 6px;
    height: $scale/2 - 6px;
    border-radius: 50%;
    background: var(--light);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

.select {
  position: relative;
  display: inline-block;
  // width: $scale; // ИЗМЕНИТЬ!!!!

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__backdrop {
      display: block;
      z-index: 9;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &__backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: transparent;
  }

  &__input {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: $scale/2 - 5px;
    //padding: 0 0.5em;
    //border: 1px solid var(--gray);
    border-radius: 5px;
    cursor: pointer;

    svg {
      transition: transform 0.15s ease-in;
      opacity: 0.3;
      color: white;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $scale/2;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 14rem;
    border-radius: 5px;
    background: var(--light);
    overflow-y: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0.4rem;
    border-bottom: 1px solid var(--gray);

    &:hover {
      background-color: var(--gray);
      cursor: pointer;
      transition: background-color 0.15s ease-in;
    }

    &.selected {
      color: var(--accounts);
    }
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 0.75s !important;
  transition-delay: 0 !important;
}
