.transactions-container {
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-8,
    .col-4 {
      width: 100%;
    }
  }

  .transactions-dashboard {
    @include flex-col;
    row-gap: 2rem;
    padding: 1.8rem 1.5rem;

    &__item {
      width: 100%;
      padding: 1.3rem;
      border-radius: 8px;
      background-color: var(--catergory-bg);
      box-shadow: var(--shadow);

      h4 {
        font-size: calc(1.1rem + 0.3vw);
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .flex-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 0.8rem;
        row-gap: 0.8rem;

        &__item {
          width: 6rem;
          @include flex-col;
          align-items: center;
          row-gap: 0.2em;

          .category-ammount {
            color: var(--category-sum);
            font-size: 0.7rem;
            margin-top: -0.4rem;
            //opacity: 0.5;
          }

          .category-icon {
            padding: 0.8em;
            border-radius: 50%;

            .icon-svg {
              background-size: 90%;
              background-repeat: no-repeat;
              background-position: center;
              height: 42px;
              width: 42px;
              filter: var(--filter);
              transition: all linear 0.25s;
            }
          }

          span {
            color: var(--light);
            text-align: center;
            font-size: 0.85rem;
          }

          &:hover {
            cursor: pointer;
          }

          &:hover .icon-svg {
            filter: invert(1);
          }
          // &:hover .icon-svg {
          //   transition: all 0.15s;
          //   transform: scale(1.1);
          // }
        }
      }
    }
  }
}
//div[data-group="accounts"]
// input[type='date']
//  .flex-list__item[data-group='accounts']:hover .icon-svg{
//   transition: all linear 0.15s;
//   background-position-y: -40px !important;
// }

.accounts {
  h4 {
    color: var(--accounts);
  }
  .category-icon {
    background-color: var(--accounts);
  }

  .add {
    border: 2px solid var(--accounts);
    color: var(--accounts);
  }

  .flex-list__item * {
    pointer-events: none;
  }
  .flex-list__item .add {
    pointer-events: all;
  }
}

.expenses {
  h4 {
    color: var(--expenses);
  }

  .category-icon {
    background-color: var(--expenses);
  }

  .add {
    border: 2px solid var(--expenses);
    color: var(--expenses);
  }
}

.income {
  h4 {
    color: var(--income);
  }

  .category-icon {
    background-color: var(--income);
  }

  .add {
    border: 2px solid var(--income);
    color: var(--income);
  }
}

.add {
  padding: 0.5em;
  line-height: 42px;
  border-radius: 50%;
  transition: all 0.25s;
}

.add:before {
  content: ' \002B';
  padding: 0 14px;
  font-size: 2rem;
}

.add:hover {
  border-radius: 0%;
  transition: all 0.25s;
  // transform: rotate(90deg);
}

// .add:hover::before {
//   transition: all 0.4s;
//   transform: rotate(90deg);
//   color: red;
// }
