.transactions-container {
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-8,
    .col-4 {
      width: 100%;
    }
  }
}
.transactions-dashboard {
  @include flex-col;
  row-gap: 2rem;
  padding: 1.8rem 1.5rem;

  &__item {
    width: 100%;
    padding: 1.3rem;
    border-radius: 8px;
    background-color: var(--catergory-bg);
    box-shadow: var(--shadow);

    .item__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      div {
        text-align: right;

        p {
          margin: 0;
          font-style: italic;
          color: var(--gray);
        }

        h5 {
          font-weight: 400;
        }
      }

      h4 {
        font-size: calc(1.1rem + 0.3vw);
        text-transform: uppercase;
      }
    }

    .flex-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 0.8rem;
      row-gap: 0.8rem;

      &__item {
        position: relative;
        width: 6rem;
        @include flex-col;
        align-items: center;
        row-gap: 0.2em;

        .category-amount {
          color: var(--category-sum);
          font-size: 0.7rem;
          margin-top: -0.4rem;
        }

        .category-icon {
          padding: 0.8em;
          border-radius: 50%;

          .icon-svg {
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            height: 42px;
            width: 42px;
            filter: var(--filter);
            transition: all linear 0.25s;
          }
        }

        span {
          color: var(--light);
          text-align: center;
          font-size: 0.85rem;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover .icon-svg {
          filter: invert(1);
        }
      }
    }
  }

  .edit {
    padding: 0.5em;
    line-height: 42px;
    border-radius: 50%;
    transition: all 0.25s;

    &:before {
      content: '\002B';
      padding: 0 14px;
      font-size: 2rem;
    }

    &:hover {
      border-radius: 0%;
    }
  }

  .delete-category {
    color: var(--gray);

    &.selected span {
      color: var(--light);
    }

    span {
      color: var(--gray);
    }

    .delete {
      opacity: 0.3;
      border: 2px solid var(--gray);

      &:before {
        content: '\2212';
      }

      &:hover {
        border: 2px solid var(--light);
        border-radius: 0%;
        color: var(--light);
      }
    }

    .delete:hover ~ span {
      color: var(--light);
    }
  }
}

.accounts {
  .item__header {
    color: var(--accounts);
  }
  .category-icon {
    background-color: var(--accounts);
  }

  .add {
    border: 2px solid var(--accounts);
    color: var(--accounts);
  }

  .selected .delete {
    border: 2px solid var(--accounts);
    border-radius: 0%;
    color: var(--accounts);
    opacity: 1;
  }

  .flex-list__item * {
    pointer-events: none;
  }

  .flex-list__item .add,
  .flex-list__item .delete {
    pointer-events: all;
  }
}

.expenses {
  .item__header {
    color: var(--expenses);
  }

  .category-icon {
    background-color: var(--expenses);
  }

  .add {
    border: 2px solid var(--expenses);
    color: var(--expenses);
  }

  .selected .delete {
    border: 2px solid var(--expenses);
    border-radius: 0%;
    color: var(--expenses);
    opacity: 1;
  }
}

.income {
  .item__header {
    color: var(--income);
  }

  .category-icon {
    background-color: var(--income);
  }

  .add {
    border: 2px solid var(--income);
    color: var(--income);
  }

  .selected .delete {
    border: 2px solid var(--income);
    border-radius: 0%;
    color: var(--income);
    opacity: 1;
  }
}

.deleting {
  &:before {
    content: '\2212';
    position: absolute;
    left: 9px;
    top: -9px;
    z-index: 10;
    display: block;
    padding: 1px 8px;
    font-size: 1rem;
    border-radius: 50%;
    color: var(--gray);
    background: var(--light);
  }

  .category-amount {
    opacity: 0;
  }
}

@keyframes beforeDeletion {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0) rotate(5deg);
  }

  20%,
  80% {
    transform: translate3d(2px, -3px, 0) rotate(-2deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, -1px, 0) rotate(3deg);
  }

  40%,
  60% {
    transform: translate3d(3px, 2px, 0) rotate(-4deg);
  }
}
