.transactions-container {
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-8,
    .col-4 {
      width: 100%;
    }
  }

  .transactions-dashboard {
    @include flex-col;
    row-gap: 2rem;
    padding: 1.8rem 1.5rem;

    &__item {
      width: 100%;
      padding: 1.3rem;
      border-radius: 8px;
      background-color: var(--catergory-bg);
      box-shadow: var(--shadow);

      h4 {
        font-size: calc(1.1rem + 0.3vw);
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .flex-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 0.8rem;
        row-gap: 0.8rem;

        &__item {
          width: 6rem;
          @include flex-col;
          align-items: center;
          row-gap: 0.2em;

          .category-ammount {
            color: var(--category-sum);
            font-size: 0.7rem;
            margin-top: -0.4rem;
          }

          .category-icon {
            padding: 0.8em;
            border-radius: 50%;

            .icon-svg {
              background-size: 90%;
              background-repeat: no-repeat;
              background-position: center;
              height: 42px;
              width: 42px;
              filter: var(--filter);
              transition: all linear 0.25s;
            }
          }

          span {
            color: var(--light);
            text-align: center;
            font-size: 0.85rem;
          }

          &:hover {
            cursor: pointer;
          }

          &:hover .icon-svg {
            filter: invert(1);
          }
        }
      }
    }
  }
}

.accounts {
  h4 {
    color: var(--accounts);
  }
  .category-icon {
    background-color: var(--accounts);
  }

  .add {
    border: 2px solid var(--accounts);
    color: var(--accounts);
  }

  .flex-list__item * {
    pointer-events: none;
  }

  .flex-list__item .add,
  .flex-list__item .delete {
    pointer-events: all;
  }
}

.expenses {
  h4 {
    color: var(--expenses);
  }

  .category-icon {
    background-color: var(--expenses);
  }

  .add {
    border: 2px solid var(--expenses);
    color: var(--expenses);
  }
}

.income {
  h4 {
    color: var(--income);
  }

  .category-icon {
    background-color: var(--income);
  }

  .add {
    border: 2px solid var(--income);
    color: var(--income);
  }
}

.edit {
  padding: 0.5em;
  line-height: 42px;
  border-radius: 50%;
  transition: all 0.25s;

  &:before {
    content: '\002B';
    padding: 0 14px;
    font-size: 2rem;
  }

  &:hover {
    border-radius: 0%;
  }
}

.delete-category {
  color: var(--gray);

  span {
    color: var(--gray) !important;
  }

  .delete {
    border: 2px solid var(--gray);

    &:before {
      content: '\2212';
    }

    &:hover {
      border: 2px solid var(--light);
      color: var(--light);
    }
  }

  .delete:hover ~ span {
    color: var(--light) !important;
  }
}
