// $yellow: #f2c200;
// $gr:#1000f2;
// $blue: #327ceb;
// $green: #66ab0c;
// $dark: #14161E;
// $middle: #161821;
// $light: #ffffff;
// $gray: #5c5c5c;

:root {
  --accounts: #f2c200;
  --expenses: #327ceb;
  --income: #66ab0c;
  --dark: #14161e;
  --middle: #161821;
  --light: #ececec;
  --gray: #5c5c5c;
  --catergory-bg: #1d202b;
  --filter: invert(0);
  --shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.4);
  --font-light: white;
  --font-dark: black;
  --expenses-alpha: rgba(243, 94, 110, 0.5);
  --income-alpha: rgba(75, 192, 192, 0.5);
}
:root[theme='light'] {
  --accounts: #ecaf12;
  --expenses: #f35e6e;
  --income: #2fba93;
  --dark: #e3e9ef;
  --middle: #eaedf1;
  --light: #14161e;
  --gray: #5c5c5c;
  --filter: invert(1);
  --catergory-bg: #eaf0f7;
  --font-light: black;
  --font-dark: light;
  --shadow: 8px 10px 14px -7px rgba(0, 0, 0, 0.1);
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}
