@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './modal';
@import './transactions';
@import './history';
@import './dragnDrop';
@import './charts';
@import './navbar';
@import './settings';

body {
  background: var(--dark);
  overflow-x: hidden;
}

.wrapper {
  display: flex;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: var(--dark);

  .navbar-brand {
    padding: 0;

    .logo {
      height: 2.5rem;
    }
  }
}

main {
  position: relative;
  left: 0;
  transition: 0.5s ease;
  width: 100%;
}

.popover-body {
  padding: 0.5rem;
}
